section.demo {
    box-sizing: border-box;
    margin: 30px auto;
    transition-duration: 0.3s;
    color: #fff;

    display: flex;
}
section.demo:hover {
    box-shadow: 0px 0px 20px orange;
}

section.demo .item {
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 14px;
}

.middle {
    background-color: #393581;
    flex-grow: 1;
}

.left {
    background-color: #5e5999;
    width: 150px;
    flex-grow: 0;
}

.right {
    background-color: #584dcd;
    width: 150px;
    flex-grow: 0;
}

.demo0 .middle {
    order: 1;
}
.demo0 .left {
    order: 0;
    flex-grow: 0;
}

.demo2 .middle {
    order: 1;
}
.demo2 .left {
    order: 0;
}
.demo2 .right {
    order: 2;
}

.demo3 .middle {
    order: 2;
}
.demo3 .left1 {
    order: 0;
}
.demo3 .left2 {
    order: 1;
}
